system:
You will be given the question from a user and you should convert it into a very short title, 2 to 4 words.
For example, if the user asks this question: "What is the difference between a function and a method?" we should return a title such as "Function vs Method".

user:
{{user_question}}
